.divExtra{
    display: flex;
    flex-direction: column;
}

.divGlobal{
    display: flex;
    position: relative;
    overflow: hidden;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.divContent{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.divTaskActions{
    display: flex;
    position: absolute;
    justify-content: space-around;
    align-items: center;
    top: 0;
    left: 100%;
    /* Set the width and height of the action buttons */
    width: 350px;
    height: 80px;
    /* Set the background color and transition properties */
    color: #ffff;
    background-color: #48b3fb;
    transition: transform 0.2s ease-in-out;
}

.divGlobal:hover .divTaskActions {
    transform: translateX(-100%);
  }

.divContentFirst{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 20px;
}

.divContentFirst h5{
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
}

.divContentFirst input{
    height: 20px;
    width: 20px;
}

.divSuperContent{
    display: flex;
    flex: column;
}

.divContentSecond{
    color: #a09f9f;
}

.divIcons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: default;
    transition-property: font-size;
    transition-duration: 200ms;
}

.divIcons:hover .icon{
    font-size: 32px;
}

.icon{
    font-size: 28px;
}

.span{
    font-size: 15px;
    font-weight: 300;
}

.isNoOpen{
    display: none;
}

.isOpen{
    margin: 0 auto;
    width: 90%;
    height: 20vh;
} 

.isOpen span{
    color: #a09f9f;
}

.isOpen p{
    border: 2px solid #48b3fb;
    border-radius: 5px;
    width:auto;
    text-align: left;
    overflow:scroll;
    height: 10vh;
    padding: 10px;
    font-weight: 200;
}
